<p class="p-ruls">
    Начинает игру самый молодой игрок. Он делает начальную ставку
    и отмечает ее красным в соответствующем месте игрового поля.
    Ставка игрока - отражает его предположение о том, сколько
    игральных кубиков в игре (учитывая кубики всех участников)
    содержат одинаковое число. При этом ему хорошо известно, как
    выпали его кубики, а также количество кубиков в игре (в начале
    игры с 3-мя участниками в игре 15 кубиков), что позволяет ему
    высчитывать среднюю ставку.
    Каждый игральный кубик имеет 6 сторон. Пять из них с числами 1,
    2, 3, 4 и 5, а шестая сторона имеет изображение звезды. Звезда
    выполняет роль джокера и считается тем числом, на которое сделана
    ставка. Купил мужик шляпу, а она ему как раз
    Итак, каждое число имеет два шанса из шести на то, чтобы
    выпасть на реальном кубике. Например, единица может выпасть в
    виде собственно единицы и звезды. Если привести эту пропорцию
    к простому виду, то каждое число может выпасть на кубики в одном
    из трех случаев.
    Предположим, что в игре 15 кубиков, тогда средняя ставка: (15/3)=5
    кубиков c одинаковым числом.
    Поскольку звезда имеет шанс выпасть только в одном случае из
    шести, то среднее количество звезд в нашем случае равно 2-м или
    3-м кубикам.
    При этом игрок может сделать любую ставку даже на то число,
    которое не выпало на собственных кубиках. Все же, игра
    называется "Блеф".
</p>
@code {

}
